// base
$baseFontSize: 16;
  @function rem($pixels) {
    @return $pixels / $baseFontSize * 1rem;
  }

$baseFontColor: #333;

:root {
  --textEn: 'Roboto Slab';
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  scroll-behavior: smooth;
}

body {
  font-size: rem(16);
  line-height: 1.5;
  background: #f8f8f8;
}

.heading-title {
  scroll-margin-top: 150px;
}

._img {
  width: 100%;
  height: auto;
}

.link {
  color: $baseFontColor;
  transition: all .5s;
}

.link:hover {
  box-shadow: 1px 1px 1px 1px #ddd;
  opacity: .7;
}

.container {
  max-width: 1000px;
  margin: auto;
}


// header
.header-area {
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
}
.header-contents {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  margin: auto;
  padding: 20px;
  max-width: 1000px;
  .nav-area {
    justify-self: end;
  }
  .nav-list {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    column-gap: 20px;
    width: 100%;
    max-width: 400px;
    height: 100%;
    .item {
      display: grid;
      padding: 10px 0;
    }
    .link {
      display: grid;
      align-items: center;
      padding: 20px;
      font-family: var(--textEn);
    text-align: center;
      text-transform: uppercase;
    }
  }
}
.header-logo {
  width: 150px;
}

// footer

.footer-area {
  margin-top: 50px;
}

.logo-wrap {
  text-align: center;
}

.footer-logo {
  width: 100px;
}

.copy {
  margin-top: 30px;
  p {
    font-size: rem(10);
    text-align: center;
  }
}

// main

// .wrap {
//   overflow: hidden;
//   white-space: nowrap;
//   width: 100%;
// }

// .image {
//   display: inline-block;
//   margin-right: 30px;
//   width: 150px;
//   height: 300px;
//   animation: slide 10s linear infinite;
// }

// @keyframes slide {
//   from {
//     transform: translateX(100%);
//   }
//   to {
//     transform: translateX(-100%);
//   }
// }

.main-area {
  padding: 80px 20px;
}

.lead-text {
  text-align: center;
}

.heading-title {
  margin-bottom: 50px;
  font-family: var(--textEn);
  text-align: center;
  text-transform: uppercase;
  font-size: rem(24);
}

.heading-title + * + * {
  margin-top: 20px;
}

.sec {
  margin: 50px 0 0;
  padding: 50px 0 50px;
}

.contents-wrap {
  margin-top: 50px;
}

.btn-area {
  margin-top: 80px;
  text-align: center;
}

.btn01 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  margin: auto;
  border: 2px solid #333;
  border-radius: 10px;
  background: #fff;
  color: $baseFontColor;
  font-size: rem(18);
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
}

.btn01:hover {
  box-shadow: 0 0 #333;
  color: #fff;
  background-color: #333;
}


.sec02 {
  .article-list {
    .list {
      padding: 20px 0;
      border-bottom: 1px solid #000;
    }
    .list:not(:first-child) {
      margin-top: 30px;
    }
    .item {
      display: flex;
      gap: 30px;
      transition: all .3s;
      .thumb {
        flex: 0 0 200px;
      }
      @media screen and (max-width:600px) {
        .thumb {
          flex: 0 1 100%;
          max-width: 200px;
          display: grid;
          place-content: center;
        }
      }
      .blog-sec {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        color: #333;
        .title {
          margin-bottom: 10px;
        }
        .desc {
          display: flex;
          flex-direction: column;
          height: 100%;
          .text {
            margin-bottom: 20px;
          }
          .time {
            margin-top: auto;
            text-align: right;
          }
        }
      }
    }
    .item:hover {
      opacity: .7;
    }
  }
}

.sec03 {
  .hobby-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px 6%;
    .item {
      border: 3px solid #ddd;
      border-radius: 15px;
    }
  }
  .card {
    color: $baseFontColor;
    .thumb-wrap {
      border-radius: 10px 10px 0px 0px;
      overflow: hidden;
      .card-thumb {
        width: 100%;
        height: 300px;
        object-fit: cover;
        transition: all .3s ease-in;
      }
      .-filter_sepia {
        filter: sepia(0.5);
      }
      .-filter_cont {
        filter: contrast(0.7);
      }
    }
    .detaile-list {
      display: flex;
      flex-direction: column;
      padding: 10px;
      text-align: center;
      &__ttl {
        margin: 10px 0 20px;
        font-size: rem(18);
      }
      &__desc {
        margin-inline-start: 1em;
        text-align: left;
      }
    }
  }
  .card:hover .card-thumb {
    scale: 1.2;
  }
}
